__pycache__/
*.py[cod]
.pytest_cache/
.idea/
.vscode/
.venv/
.env
*.exe
*.obj
*.o
*.dll
*.so
*.lib
*.exp
*.pdb
build/
build_*/
results/
gemm_code/code/
gemm_code/cpu_code/
gemm_code/shape_tuning/
gemm_code/final_shape_tuning/
data/IRs/ir_patch/
SCOPE/results/
SCOPE/gemm_code/code/
SCOPE/gemm_code/cpu_code/
SCOPE/gemm_code/shape_tuning/
SCOPE/gemm_code/final_shape_tuning/
SCOPE/data/IRs/ir_patch/
/H800/QIMENG/CUDA/test
